<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp</title>
</head>

<body>
    <h2 style="text-align:center;">Funding</h2>
    <center style="margin-top:35vh;">
        <form action="{% url 'charge' %}" method="post">

            {% csrf_token %}
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{key}}"
                data-description="Payment Gateway" data-amount="50000" data-location="auto">

                </script>
        </form>
    </center>
</body>

</html>